*{
  margin: 0;
  padding: 0;
  font-family: "Product Sans";
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  
}

#back{
  width: 100%;
  height: 100%;

}

#back>img{
  margin-top: 60px;
}

#container{
  width: 86%;
  margin: 0 auto;
  margin-top: 100px;
}

#container h1{
  font-size: 40px;
  font-weight: 700;
}

#container img{
  box-shadow: 0 50px 65px -5px #29d4ffd2;
  margin-top: 30px;
}

#container h2{
  font-size: 40px;
  font-weight: 100;
  margin-top: 120px;
}

#posts{
  margin-top: 50px;
}

.post{
  font-size: 25px;
  padding: 37px 33px;
  position: relative;
  width: 882px;
  min-height: 116px;
  background-color: #ffcc8040;
  margin-bottom: 23px;
  border-radius: 15px;
  border: 1.5px solid #bd6565;
}

#icons{
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translate(0, -50%);
}

#icons i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 50%;
  font-size: 14px;
  background-color: #fff;
}

#icons i:nth-child(1){
  background-color: rgb(255, 166, 0);
}

#icons i:nth-child(2){
  background-color: rgb(255, 69, 69);
  color: #fff;
}